html {
	scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
}

.header {
  background-color: #0A0A0A;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;

}

.header img {
  width: 15px;
  height: 19px;
}

.header a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.75);
  transition: 0.5s;
}

.header a:hover {
  font-size: 18px;
}

.iPhone-17-Pro {
  background-color: black;
}

.iPhone-17-Pro img {
  width: 80%;
  display: block;
  margin: 0 auto;
  transition: 0.8s;
}

.iPhone-17-Pro img:hover {
  width: 90%;
}

.design {
  background-color: #191919;
  padding: 100px;
  text-align: center;
}

.design h1 {
  font-size: 48px;
  color: white;
}

.design p {
  color: #787878;
  font-size: 16px;
}

.design img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.camera {
  padding: 100px 10%;
  background-color: black;
  color: #fff;
  text-align: center;
}

.camera h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.camera-specs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.camera-img {
  width: 400px;
  height: 300px;
  background-color: #1e1e1e;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #777;
}

.camera-info {
  text-align: left;
}

.camera-info p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.5;
}

.camera-text {
  max-width: 700px;
  margin: 40px auto;
  color: #ccc;
  font-size: 16px;
}

.lens-img {
  width: 100%;
  height: 250px;
  background-color: #1a1a1a;
  border-radius: 16px;
  margin: 60px 0;
  font-size: 14px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-camera {
  background-color: #191919;
  padding: 60px;
  margin-top: 60px;
  text-align: center;
}

.front-camera h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.front-camera p {
  color: #ccc;
  max-width: 750px;
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 1.6;
}

.selfie-img {
  width: 250px;
  height: 400px;
  background-color: #1e1e1e;
  border-radius: 24px;
  margin: 0 auto;
  color: #777;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h6 {
  text-shadow: 1px 3px 20px #CE5937;
  font-size: 20px;
  color: #FF7F23;
  text-align: center;
}

.video-block {
  padding-top: 60px;
  gap: 20px;
  margin-bottom: 60px;
  background-color: black;
  color: #e6e6e6;
  font-family: Arial, sans-serif;
  padding-left: 60px;
}

.card-one {
  background-color: #141414;
  border-radius: 15px;
  padding-top: 15px;
  margin-right: 70px;
  margin-bottom: 60px;

}

.card-two {
  background-color: #141414;
  border-radius: 15px;
  padding: 15px;
  margin-right: 70px;
  margin-bottom: 60px;
}

.wide-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-one img {
  width: 412px;
  height: 452px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}


.card-two img {
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

.wide-card {
  grid-column: 1 / -1;
  background-color: #141414;
  border-radius: 15px;
  padding: 15px;
  margin-right: 70px;
}

.productivity h1 {
  text-align: center;
}

.description {
  color: #ccc;
  max-width: 900px;
  margin: 0 auto 60px;
  font-size: 17px;
  text-align: center;
}

.productivity-info img {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: -100px;
}

.info-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.info-item {
  background-color: #1a1a1a;
  border-radius: 16px;
  padding: 30px;
  max-width: 280px;
  text-align: left;
  box-shadow: 0 0 10px rgba(255, 107, 0, 0.1);
  transition: transform 0.3s ease;
}

.info-item:hover {
  transform: translateY(-5px);
}

.info-item h4 {
  color: #ff6b00;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.info-item p {
  color: #ccc;
  font-size: 15px;
  text-align: center;
}

.battery p,h1 {
  text-align: center;
}

.battery-stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.stat h2 {
  color: #ff7a1a;
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 5px;
}

.stat p {
  color: #b0b0b0;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 950px) {
  .card-two img {
    width: 420px;
    height: 343px;
  }
}

footer {
    text-align: center;
    padding: 30px;
    font-size: 0.9em;
    color: #F3F3F3;
    border-top: 1px solid #ddd;
    background-color: #191919;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #F3F3F3;
    transition: 0.5s;
}

footer a:hover {
    color: #3C3C3C;
}

